@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 25vw;
    height: 35vh;
}
.img_container {
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    margin: 0 10px 0 20px;
    flex-direction: column;
}

.mattress_form_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 201, 221, 0.3);
    padding: 10px;
    width: 800px;
    margin: 10px 0 10px 0;
    border: 2px solid rgba(101, 145, 175, 0);
    border-radius: 2px;

}
.mattress_form_container:hover {
    border: 2px solid rgba(122, 165, 194, 0.3);
    border-radius: 2px;
    cursor: pointer;
}

.mattress_form {
    display: flex;
    margin: 15px 5px 10px;
    color: rgb(105, 104, 104);
}

.price {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 15vh;
    background-color: rgb(174, 197, 212);
    padding: 0 50px;
}

.route:hover {
    cursor: pointer;
    background-color: rgb(239, 240, 243);
    color: rgb(84, 116, 136);
}

.route {
    display: flex;
    color: rgb(32, 64, 83);
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    height: 100%;
    align-items: center;
    padding: 0 5px 0 5px;
}

.mattress_options {
    margin-bottom: 3px;
}

.content{
    display: flex;
    margin: 30px 0 50px 0;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100vh;
    margin: 0 170px 0 30px;
    padding: 30px;
    background-color: rgba(170, 201, 221, 0.3);
}

.mattress_list {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 25vh;
    background-color: rgb(174, 197, 212);
}

.filter {
    margin: 15px 0 50px
}

.about {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.mattress_description_content_container {
    display: flex;
    flex-direction: column;
}

.mattress_description_content {
    display: flex;
    margin: 30px;
    align-items: center;
}
.img_detail {
    width: 50vw;
    height: 60vh;
}
.detail {
    margin-left: 100px;
    padding-right: 100px;
}

.detail_producer {
    font-size: 2.2em;
    font-weight: bold;
}
.detail_price {
    font-size: 1.5em;
    font-weight: bold;
}
.detail_delivery {
    margin-top: 5px;
    font-size: 1.2em;
    font-style: italic;
}
.detail_benefits {
    font-style: italic;
}
.benefits {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
    font-style:normal;
}
.detail_comments_container {
    margin: 30px 60px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}
.detail_comments_title {
    text-align: center;
    background-color: rgba(222, 229, 233, 0.719);
    margin: 30px 60px 40px;
    font-size: 1.3em;
}
.detail_comments_email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(222, 229, 233, 0.719);
    padding: 30px;
    font-size: 1.2em;
    font-weight: bold;
}
.detail_comments_body {
    padding: 30px;
}